:root {
  --light-grey: hsl(0, 0%, 50%);

  --claret: #851b41ff;
  --radical-red: #ff3169ff;
  --french-pink: #f66e9bff;
  --tart-orange: #ff3b3fff;
  --princeton-orange: #fd8e3eff;
  --space-cadet: #252056ff;
  --air-superiority-blue: #72a0c1ff;
  --floral-white: #fcf9f2ff;
  --independence: #4f4f6eff;
  --oxford-blue: #12122bff;

  --background-color: #FDFFFC;
  --post-title: var(--tart-orange);
  --text-color: var(--oxford-blue);
  --link-hover-color: #60B2E5;
  --flouncy-title-color: var(--radical-red);
  --tech-title-color: var(--independence);
}

html {
  font-family: Cambria, Georgia, serif;
  background-color: var(--background-color);
}

body {
  color: var(--text-color);
}

a:hover {
  color: var(--link-hover-color);
}
