.blogHeader {
  margin: 3em
}

.titleFlexBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: flex-end;
}

.titleLink {
  text-decoration: none;
}

h1.title {
  margin-bottom: 0px;
}

.titleFlouncy {
  color: var(--flouncy-title-color);
  font-family: "Satisfy", "handwriting", serif;
  font-size: 2.5em;
  font-weight: normal;
}

.titleTech {
  color: var(--tech-title-color);
  font-family: "Courier New", monospace;
  font-size: 2.8em;
  font-family: 
}

div.titleSpaceHolder {
  display: inline-block;
  width: 6em;
}

div.breakBefore {
  break-before: always
}

.centerSection {
  max-width: 40em;
  margin: 0 auto;
  padding: 0.5em;
}
