h4 {
  color: var(--text-color)
}

.titleLink {
  text-decoration: none;
  color: var(--post-title);
}

.titleLink h3 span {
  border-bottom: 2px dashed;
}

.excerpt {
  margin-top: 1em;
  margin-left: 0;
}

/* Divider styling: https://www.cssportal.com/blog/style-hr-tag-with-css/ */
hr {
  height: 1px;
  border: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
  text-align: center;
  margin: 2em 0em;
}

hr:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -.6em; 
  padding: 0 3px; 
  background: var(--background-color); 
  color: var(--light-grey); 
  font-size: 1.2em; 
}

a:hover span.readmorespan {
  animation: blinking 1s ease-in-out infinite; 
}

@keyframes blinking {
  0% {
    opacity: 0;
    background-color: var(--link-hover-color);
  }
  50% {
    opacity: 1;
    background-color: var(--link-hover-color);
  }
  100% {
    opacity: 0;
    background-color: var(--link-hover-color);
  }
}
